{% extends "books/base.html" %}
{% load static %}
{% block style %}
    <style>
        .footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 114px;
        }
    </style>
{% endblock style %}
{% block content %}
    {% if validlink %}
        <main class="form-signin w-25 m-auto mt-5 mb-5">
          <form method="post" action="">
              {% csrf_token %}
            <img class="mb-4 rounded mx-auto d-block" src="{% static 'images/logo4.png' %}" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Пожалуйста, введите и подтвердите свой новый пароль.</h1>

            <div class="form-floating mb-3">

              <input type="password" name="new_password1" autofocus autocomplete="new-password" maxlength="150" class="form-control" required id="id_new_password1" aria-autocomplete="list" placeholder="Password">
              <label for="id_new_password1">Новый пароль</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" name="new_password2" autocomplete="new-password" class="form-control" required id="id_new_password2" placeholder="Password">
              <label for="id_new_password2">Повторите пароль</label>
            </div>

              <input type="submit" class="btn btn-primary w-100 py-2" value="Сменить пароль" />
          </form>
        </main>
    {% else %}
        <h1>Ошибка при смене пароля!!!</h1>
        <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста,
            запросите новый сброс пароля.</p>
    {% endif %}

{% endblock content %}
{% block books %}{% endblock books %}