{% extends "books/base.html" %}
{% block style %}
    <style>
        .footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 114px;
        }
    </style>
{% endblock style %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <label>Ваш e-mail</label><br>
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Сброс пароля" />
</form>
{% endblock content %}
{% block books %}{% endblock books %}
{% block footer %}{% endblock footer %}