{% extends "books/base.html" %}
{% block style %}
    <style>
        .footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 114px;
        }
    </style>
{% endblock style %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="row my-2 text-center">
        <div class="col-6">
            <label>Ваш e-mail</label><br>
            <p>{{ form.email }}</p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row my-2 text-start">
        <div class="col-6">
            <input type="submit" class="btn btn-default btn-lg" value="Сброс пароля" />
        </div>
        <div class="col-6"></div>
    </div>

</form>
{% endblock content %}
{% block books %}{% endblock books %}
{% block footer %}{% endblock footer %}