{% extends "books/base.html" %}
{% load static %}
{% block title %}Мир книг{% endblock title %}
{% block content %}

  <div class="container my-2">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary rounded-3">
              <li class="breadcrumb-item">
                  <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">
                      Главная
                  </a>
              </li>
              <li class="breadcrumb-item active">
                  Все книги
              </li>
          </ol>
      </nav>
  </div>

  <div class="row text-center text-dark lh-2 my-4">
    <h1>Список книг</h1>
  </div>
{% endblock content %}
