{% extends "books/base.html" %}
{% load static %}
{% block title %}Мир книг{% endblock title %}
{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}
{% block content %}
<div class="container-fluid my-4">

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 border">
            <h1 class="text-body-emphasis">Мир книг</h1>
            <p class="lead">
                Добро пожаловать на сайт <em>Мир книг</em>. Это простой веб-сайт, написанный на Django и Bootstrap.
            Разработан но Python в качестве учебного примера с использованием PyCharm.
            </p>
        </div>
    </div>

    <div class="my-1">
        <div class="p-4 text-center bg-body-tertiary">
            <div class="container">
                <h2 class="text-body-emphasis">Сведения из БД</h2>


                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static 'images/klown.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">Колличество книг</h2>
                        <p>Колличество различных книг - {{ num_books }}</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="{% static 'images/ahah.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">В наличии</h2>
                        <p>Колличество книг в данный момент на складе - {{ num_instances_available }}</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="{% static 'images/logotip.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">Колличество авторов</h2>
                        <p>Колличество авторов, книги которых есть - {{ num_authors }}</p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2 class="text-body-emphasis">Книги</h2>
    </div>

</div>
{% endblock content %}