{% extends "books/base.html" %}
{% load static %}
{% block title %}Мир книг{% endblock title %}
{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}
{% block content %}
<div class="container-fluid my-4">

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 border">
            <h1 class="text-body-emphasis">Мир книг</h1>
            <p class="lead">
                Добро пожаловать на сайт <em>Мир книг</em>. Это простой веб-сайт, написанный на Django и Bootstrap.
            Разработан но Python в качестве учебного примера с использованием PyCharm.
            </p>
        </div>
    </div>

    <div class="my-1">
        <div class="p-4 text-center bg-body-tertiary">
            <div class="container">
                <h2 class="text-body-emphasis">Сведения из БД</h2>


                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static 'images/klown.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">Колличество книг</h2>
                        <p>Колличество различных книг - {{ num_books }}</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="{% static 'images/ahah.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">В наличии</h2>
                        <p>Колличество книг в данный момент на складе - {{ num_instances_available }}</p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="{% static 'images/logotip.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder">
                        <h2 class="fw-normal">Колличество авторов</h2>
                        <p>Колличество авторов, книги которых есть - {{ num_authors }}</p>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2 class="text-body-emphasis">Книги</h2>
    </div>
    {% if num_books > 0 %}
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for obj in books %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="500" src="{{ obj.photo.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
                                <div class="card-body">
                                    <h4>{{obj.title}}</h4>
                                    <p class="card-text small">
                                        Цена: {{obj.price}} руб.
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/books/{{ obj.id }}">Смотря</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                        </div>
                                        <small class="text-body-secondary">ISBN: {{ obj.isbn }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container my-5">
            <div class="bg-body-tertiary p-5 rounded">
                <div class="col-sm-8 py-5 mx-auto">
                    <h1 class="display-5 fw-normal">Нет информации о книгах</h1>
                    <p class="fs-5">На данный момент в базе данных нет информации о книгах, если вам что-то не нравится, то можете <a href="#">ничего</a> или <a href="https://www.youtube.com/watch?v=kSnrQR9BS80">чего</a></p>
                    <p>Ждите там, ну не знаю, партч, картч, фарч или что вы там ждете.</p>
                    <p>
                      <a class="btn btn-primary" href="https://www.youtube.com/watch?v=kSnrQR9BS80" role="button">Узнать чего там »</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}